<h3>How to query MMDB</h3>
<table>
  <thead>
    <tr>
      <th>
        Param
      </th>
      <th>
        Description
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        t
      </td>
      <td>
        Movie Title Search
      </td>
    </tr>
    <tr>
      <td>
        y
      </td>
      <td>
        Movie Year Search
      </td>
    </tr>
  </tbody>
</table>

<p>
  Example: http://www.com/search/?t=tron&?y=1982
</p>
<%= link_to "Scrape", scrape_path %>
<%= link_to "Tile View", tile_path %>
